<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>*RUBY*</title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href="stylesheets/menu.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<div id="wrap">


  <div id="masthead">
    <h1>Orange Company</h1>
  </div>
  <div id="menucontainer">
    <div id="menu">
      <ul>
        <li><a href="/static_pages/home"  >Home</a></li>
        <li><%= link_to 'survey', surveys_path %></li>
        <li><a href="#">Internship</a></li>

      </ul>
    </div>
  </div>
  <div id="container">
    <div id="sidebar">
      <h3>Sidebar</h3>
      <img src="../../assets/images/rose.jpg" alt="" />


      <div id="navcontainer">

      </div>

    </div>
    <div id="content">
      <h3>Welcome to <span style="color:#000;">Orange</span> Company</h3>
      <p>Orange is one of the world’s leading telecommunications operators with sales of 41 billion euros in 2013 and 159,000 employees worldwide at 30 September 2014, including 99,800 employees in France. Present in 30 countries, the Group has a total customer base of 240 million customers worldwide at 30 September 2014, including 182 million mobile customers and 16 million fixed broadband customers. Orange is also a leading provider of global IT and telecommunication services to multinational companies, under the brand Orange Business Services.

        Orange is listed on the NYSE Euronext Paris (symbol ORA) and on the New York Stock Exchange (symbol ORAN).
        For more information on the internet and on your mobile: www.orange.com , www.orange-business.com , livetv.orange.com or to follow us on Twitter: @orange , @orangegrouppr , @orangebusiness .

        Orange and any other Orange product or service names included in this material are trade marks of Orange Brand Services Limited.</p>
    </div>
  </div>
  <div id="footer"> <a href="/static_pages/home">homepage</a> | <a href="/static_pages/contact">Contact us</a> | <a href=" /static_pages/about_us">About Us</a> |     &copy; 2007 Anyone | Design by <a href="http://www.mitchinson.net"> www.mitchinson.net</a><br/>
    This work will licensed under a <a rel="license" href="http://www.orange.com/en/home">Orange Company</a> </div>
</div>
</html>
